/* Place your CSS styles in this file */
body{background-color: rgb(245, 208, 243);}
h1 {
    text-align: center;
    font-family: "times new roman";
    font-weight: normal;
    font-size: larger;
}

ul {list-style-type: none; 
font-family: Arial, Helvetica, sans-serif;
color: blueviolet;
text-align:left;
background-color: aquamarine;}

li {display: inline;
padding: 2cm;}

p { color: brown;
text-align: left;
font-size: medium;

